<div class="cookie-policy">

  <div>
    <mat-card>
      <mat-card-title>What are cookies?</mat-card-title>
      <mat-card-content>
        <p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer,
          to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies.
          We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-title>How do we use cookies?</mat-card-title>
      <mat-card-content>
        <p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies
          without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not
          sure whether you need them or not in case they are used to provide a service that you use.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Disabling cookies</mat-card-title>
      <mat-card-content>
        <p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling
          cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain
          functionality and features of the this site. Therefore it is recommended that you do not disable cookies.</p>
        <p>If you wish to opt-out from any of the cookies we set stated below, <a href="mailto:sjeske19@student.aau.dk">contact us</a>.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-title>The cookies we set</mat-card-title>
      <mat-card-content>

        <mat-accordion>
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Information storage and access</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The storage of information, or access to information that is already stored, on your device such as advertising identifiers, device identifiers, cookies,
              and similar technologies.</p>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Personalisation</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The collection and processing of information about your use of this service to subsequently personalise advertising and/or content for you in other contexts,
              such as on other websites or apps, over time. Typically, the content of the site or app is used to make inferences about your interests, which inform future selection
              of advertising and/or content.</p>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Identification</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The collection of data related to your identity, such as name, address, age, gender, bank details, transactions, family members, browsing history.</p>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Google</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Allow Google and their technology partners to collect data and use cookies for ad personalisation and measurement.</p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Third party cookies</mat-card-title>
      <mat-card-content>
        <p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site:</p>
        <p>From time to time we test new features and make subtle changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that
          you receive a consistent experience whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.</p>
        <p>We use adverts to offset the costs of running this site and provide funding for further development. The behavioural advertising cookies used by this site are designed to ensure that
          we provide you with the most relevant adverts where possible by anonymously tracking your interests and presenting similar things that may be of interest.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Purpose of this study</mat-card-title>
      <mat-card-content>
        <p>You are taking part in a student project at Aalborg University Copenhagen, which investigates the role of awareness, intent and behavior for privacy wariness.</p>
        <p>Your responses to the survey as well as your interaction with the website are being tracked. All data is anonymous and will not be used outside of the purpose of this study.</p>
        <p>If you wish to not take part in the study, or if you have further questions, please do not hesitate to <a href="mailto:sjeske19@student.aau.dk">contact us</a>.</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
