<h1 mat-dialog-title>We value your privacy</h1>
<div mat-dialog-content>
  <p class="bold">What do we use cookies for?</p>
  <p>We use cookies on our website to collect information that helps us enhance your experience.
    The cookies that we use allow our website to work and help understand what information and advertising is most useful to visitors.</p>
  <p>Take a moment to familiarize yourself with our
    <a (click)="onReadMore()" target="_blank" rel="noopener noreferrer" routerLink="/cookie-policy">cookie policy</a>
    and customise the privacy settings below. Please note that some data will still be collected in order for the website to function properly.</p>
</div>

<mat-accordion [@.disabled]="disableAnimation">
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>Privacy settings</p>
      </mat-panel-title>
      <mat-panel-description>
        <p>Customize your preferences</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="option" *ngFor="let option of surveyStateService.getPrivacyOptions()">
      <div class="option-header">
        <p class="option-label">
          {{option.label}}
        </p>
        <mat-slide-toggle
          class="toggle"
          color="primary"
          [(ngModel)]="option.isSelected"
          [checked]="option.isSelected">
          <mat-hint>{{ option.isSelected ? 'On' : 'Off' }}</mat-hint>
        </mat-slide-toggle>

      </div>
      <p class="option-explanation">
        {{option.explanation}}
      </p>
    </div>

    <button mat-raised-button color="primary" (click)="onSave()">Save preferences</button>
  </mat-expansion-panel>
</mat-accordion>

<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="onCheckAll()">Agree to all</button>
  <button mat-stroked-button (click)="onUncheckAll()">Disagree to all</button>
</div>
