.option {
  margin-bottom: 2em;
}

.option-header {
  display: flex;
  justify-content: space-between;
}

.option-label {
  font-weight: bold;
}

@media only screen and (min-width: 1001px) {
  .option-explanation {
    padding-right: 3em;
  }
}

.toggle {
  align-self: center;
}

div.mat-dialog-content {
  margin-bottom: 1em;
}

div.mat-dialog-actions > button {
  margin-right: 1em;
}
