.app {
}

.app-content > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.introduction {
  width: 50%;
  padding-top: 1em;
}

.introduction-text {
  text-align: justify;
}

.survey-container {
  margin: 1em;
}

.survey {
  width: 90vw;
  /* height of device - height of header - margins */
  height: calc(100vh - 64px - 1em - 12px);
}

.freebirdFormviewerViewEmbedded::-webkit-scrollbar {
  width: 10px;
}

.freebirdFormviewerViewEmbedded::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.freebirdFormviewerViewEmbedded::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: .5em;
}

.freebirdFormviewerViewEmbedded::-webkit-scrollbar-thumb:hover {
  background: #888;
}

