html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: hidden;
}

body [class^='mat-'], body [class*=' mat-'] {
  font-family: 'Google Sans', "Helvetica Neue", sans-serif !important;
}

/* --- LINKS --- */
a {
  text-decoration: underline;
  color: #00afb2;
}

a:focus {
  outline: none;
}

/* --- DIALOG --- */
.mat-dialog-container {
  width: 60vw !important;
  max-height: 50vh !important;
}

.mat-dialog-container::-webkit-scrollbar {
  width: 10px;
}

.mat-dialog-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: .5em;
}

.mat-dialog-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}
