html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: hidden;
}

body [class^='mat-'], body [class*=' mat-'] {
  font-family: 'Google Sans', "Helvetica Neue", sans-serif !important;
}

/* --- TEXT STYLES --- */
@media only screen and (max-width: 800px) {
  p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 801px) {
  p {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}

span.line-break {
  margin: 1em;
}

/* --- LINKS --- */
a {
  text-decoration: underline;
  color: #00afb2;
}

a:focus {
  outline: none;
}

/* --- DIALOG --- */
@media only screen and (max-width: 800px) {
  .mat-dialog-container {
    width: 80vw !important;
  }
}

@media only screen and (min-width: 801px) {
  .mat-dialog-container {
    width: 60vw !important;
  }
}

.mat-dialog-container {
  max-height: 80vh !important;
}

.mat-dialog-container::-webkit-scrollbar {
  width: 10px;
}

.mat-dialog-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: .5em;
}

.mat-dialog-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* --- SNACKBAR --- */
.mat-snack-bar-container {
  max-width: 100vw !important;
  background-color: white !important;
  color: black;
  margin-bottom: 5px !important;
  padding: 0 .5em !important;
  box-shadow: none !important;
  border: 1px solid #e2e2e2;
}
